/*header{
    background: lightblue;

}

main{
    background: lightcyan;

}

footer{
     background: lightblue;
   
}

.container{
    background: lightgreen;

}

.menu{
    background: lightslategray;
}

.text{
    background: lightyellow;
}